<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="/favicon.jpeg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <title>BPF Simulator</title>
</head>
<body>
    <div class="header text-center">
        <h1><a href="/">BPF Simulator</a></h1>
        <p>powered by <a href="https://gitlab.com/niksu/caper">Caper</a><br>authored by <a href="https://yetanotherblogs.com">Hyunsuk Bang</a></p>
    </div>
    <main class="container">
        <div class="container mt-3">
            <div class="card">
                <div class="card-body">
                    <form id="pcap-form" action="/process" method="POST" enctype="multipart/form-data" class="mb-2">
                        <div class="form-group row align-items-center mb-1">
                            <label for="pcap-file-name" class="col-sm-3 col-form-label mb-0">PCAP File:</label>
                            <div class="col-sm-9">
                                <input type="file" id="pcap-file-name" name="pcap-file" class="form-control-file">
                            </div>
                        </div>

                        <div class="form-group row align-items-center mb-1">
                            <label for="pkt-idx" class="col-sm-3 col-form-label mb-0">Starting index of pcap file:</label>
                            <div class="col-sm-3">
                                <input type="number" id="pkt-idx" name="pkt-idx" min="0" class="form-control form-control-sm">
                            </div>
                            <label for="pkt-num" class="col-sm-3 col-form-label mb-0">Number of Packet to process:</label>
                            <div class="col-sm-3">
                                <input type="number" id="pkt-num" name="pkt-num" max="50" class="form-control form-control-sm">
                            </div>
                        </div>

                        <div class="form-group row align-items-center mb-1">
                            <label for="pcap-expression" class="col-sm-3 col-form-label mb-0">PCAP Expression:</label>
                            <div class="col-sm-9">
                                <input type="text" id="pcap-expression" name="pcap-expression" class="form-control form-control-sm">
                            </div>
                        </div>

                        <div class="form-group row align-items-center mb-1">
                            <label for="max_rec" class="col-sm-3 col-form-label mb-0">Recursion Depth (0~8):</label>
                            <div class="col-sm-3">
                                <input type="number" id="max_rec" name="max_rec" min="1" max="7" class="form-control form-control-sm">
                            </div>
                            <div class="col-sm-3 form-check">
                                <input type="checkbox" id="optimized" name="optimized" class="form-check-input">
                                <label for="optimized" class="form-check-label">Optimize</label>
                            </div>
                            <div class="col-sm-3 form-check">
                                <input type="checkbox" id="not_expand" name="not_expand" class="form-check-input">
                                <label for="not_expand" class="form-check-label">Not-expand</label>
                            </div>
                        </div>

                        <div class="form-group row align-items-center mb-1">
                            <div class="col-sm-12 text-right">
                                <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <main class="container">
        <div id="bpf-out">
        {{ if .Results }}
            {{ template "results" . }}
        {{ else }}
            {{ template "content" . }}
        {{ end }}
        </div>
    </main>
    <script>
        function toggleTable(index) {
            var tables = document.getElementsByClassName('toggle-table');
            for (var i = 0; i < tables.length; i++) {
                tables[i].style.display = (i == index) ? 'table' : 'none';
            }
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>







