{{ define "content" }}
<div class="container mt-3">
    <div class="card">
        <div class="card-body">
            <p>
                Welcome to <a href="/">bpfsimulator.com</a>, your go-to playground for exploring the fascinating world of BPF (Berkeley Packet Filter) through intuitive graphical representations.
                <br>Simply type pcap expressions you want to compile into BPF, specify a pcap file to process, and check the 'optimized' box if you want to optimize the BPF.<br>
                See the example! <a href="/example">EXAMPLE</a>
                <br>
            </p>
            <br>
            <h4>Discovering BPF</h2>
            <p>
                BPF, short for Berkeley Packet Filter, has been a powerful tool for analyzing network traffic since its inception in 1992. Utilizing its own instruction sets and registers, BPF efficiently captures incoming packets by generating a control flow graph.
                This technique is employed by renowned tools such as <a href="https://www.tcpdump.org/index.html">tcpdump and libpcap</a> to capture packets based on higher-level filter expressions known as 'pcap expressions.' These expressions are then transformed into BPF code to effectively process network data.
            </p>
            <h4>Peeking into BPF codes</h2>
            <p>
                Curious to see how BPF code looks? You can easily inspect it by typing a simple command. Here's an example:
<pre><code>$ tcpdump -d "tcp or udp"
(000) ldh      [12]
(001) jeq      #0x86dd          jt 2  jf 7
(002) ldb      [20]
(003) jeq      #0x6             jt 11 jf 4
(004) jeq      #0x2c            jt 5  jf 10
(005) ldb      [54]
(006) jeq      #0x6             jt 11 jf 10
(007) jeq      #0x800           jt 8  jf 12
(008) ldb      [23]
(009) jeq      #0x6             jt 11 jf 10
(010) jeq      #0x11            jt 11 jf 12
(011) ret      #1514
(012) ret      #0
</code></pre>
            </p>
            <p>
                These BPF codes, depending on the operating system, are either being interpreted by a virtual machine or compiled into machine code by a just-in-time compiler and executed in the kernel.<br>
                Thorough explanations of BPF can be found in the original paper, <a href="https://www.tcpdump.org/papers/bpf-usenix93.pdf">The BSD Packet Filter</a>.
            </p>
            <h4>Pushing Boundaries of BPF with Caper</h2>
            <p>
                Curious to explore further with Caper? Delve into the world of Caper and discover more about its capabilities.
                <a href="/about">The Power of Caper</a>
            </p>
        </div>
    </div>
</div>

{{ end }}