{{ define "results" }}

<script>
let currentPage = 1;
const buttonsPerPage = 10;
const totalButtons = {{ len .Results }};
const totalPages = Math.ceil(totalButtons / buttonsPerPage);

function renderButtons() {
    const buttonContainer = document.getElementById('buttonContainer');

    buttonContainer.innerHTML = '';

    const startIndex = (currentPage - 1) * buttonsPerPage;
    const endIndex = Math.min(startIndex + buttonsPerPage, totalButtons);

    for (let i = startIndex; i < endIndex; i++) {
        const button = document.createElement('button');
        button.type = 'button';
        button.className = 'btn btn-secondary m-1';
        button.textContent = i + 1;
        button.setAttribute('onclick', `toggleTable(${i})`);
        buttonContainer.appendChild(button);
    }
}

function nextPage() {
    if (currentPage < totalPages) {
        currentPage++;
        renderButtons();
    }
}

function previousPage() {
    if (currentPage > 1) {
        currentPage--;
        renderButtons();
    }
}

document.addEventListener('DOMContentLoaded', function() {
    renderButtons();
});
</script>
<div class="container mt-3">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-sm-4">PCAP Expression</dt>
                        <dd class="col-sm-8">{{ .ProcessForm.PcapExpression }}</dd>

                        <dt class="col-sm-4">File Name</dt>
                        <dd class="col-sm-8">{{ .ProcessForm.FileName }}</dd>

                        <dt class="col-sm-4">Max Recursion Depth</dt>
                        <dd class="col-sm-8">{{ .ProcessForm.MaxRec }}</dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-sm-4">Packet Index</dt>
                        <dd class="col-sm-8">{{ .ProcessForm.PktIdx }}</dd> 

                        <dt class="col-sm-4">Number of Packets</dt>
                        <dd class="col-sm-8">{{ .ProcessForm.PktNum }}</dd>

                        <dt class="col-sm-4">Optimize</dt>
                        <dd class="col-sm-8">{{ .ProcessForm.Optimize }}</dd>

                        <dt class="col-sm-4">Not Expand</dt>
                        <dd class="col-sm-8">{{ .ProcessForm.NotExpand }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-center mb-3">
                <button type="button" class="btn btn-primary" onclick="previousPage()">Previous</button>
                <div id="buttonContainer" class="d-flex justify-content-center"></div>
                <button type="button" class="btn btn-primary" onclick="nextPage()">Next</button>
            </div>
        </div>
    </div>
</div>

{{ range $i, $result := .Results }}
<table id="table-{{ $i }}" class="table table-bordered table-striped toggle-table" style="{{ if eq $i 0 }}display: table;{{ else }}display: none;{{ end }}">
    <thead class="thead-dark">
        <tr>
            <th>RAW PACKET</th>
            <th>BPF</th>
            <th>Graph</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><pre>{{ .RawPacket }}</pre></td>
            <td><pre>{{ $.SymbolicBPF }}</pre></td>
            <td><div class="box"><img src="data:image/png;base64,{{ .Base64Img }}" alt="Graph"></div></td>
        </tr>
    </tbody>
</table>
{{ end }}

{{ end }}