.card-body {
    padding: 0.5rem;
}

.header {
    background-color: #f5f5f5;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.header h1 {
    font-size: 2rem;
    margin: 0;
}
.header a {
    color: #007bff;
    text-decoration: none;
}
.header a:hover {
    text-decoration: underline;
}

button[type="submit"], button[type="button"] {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    margin-right: 0.5rem;
}

code {
    background-color: #f5f5f5;
    color: #d63384;
    padding: 1rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    display: block;
    white-space: pre-wrap; /* Preserve whitespace and wrap as needed */
    overflow: auto;
}

.table {
    background-color: white;
}
.table th, .table td {
    background-color: white;
}
.table .thead-dark th {
    background-color: #343a40;
    color: white;
}